<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <h1>koa2 login demo</h1>
  <form method="POST" action="/api/user/signIn.json">
    <p>login</p>
    <input name="userName" /><br />
    <input name="password" /><br />
    <button type="submit">submit</button>
  </form>
</body>

</html>